body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.btn {
  font: inherit;
  font-size: 12px;
  padding: 8px 12px;
  margin-right: 8px;
  background-color: #0074d9;
  border: none;
  color: #fff;
}

.oy-example-app {

  &__container {
    margin: 10px;
  }

  &__menu {
    font-size: 16px;
    background-color: #bebebe;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
  }
}

@import 'components/editor/styles';
@import 'components/editor-block/styles';
@import 'components/editor-quill/styles';
@import 'components/example-menu/styles';
@import 'components/example-input/styles';
@import 'components/example-image/styles';
