@import '~font-awesome/css/font-awesome.min.css';

.oy-editor-quill {

  &__container {
    background-color: #FFFFFF;
    border: 1px solid #000;
  }

  &__toolbar {
    // Example: custom styling of the Editors Toolbar
    &--core {
      .ql-toolbar {
        padding: 5px;
        border-bottom: 1px solid #000;
        color: #000;

        .ql-active {
          background-color: #0065cc;
          color: #fff;
        }
      }
    }
  }

  &__editor {
    // Customizing the Quill Snow Theme (eg. ol-li number styles)
    .ql-editor ol {
      @for $i from 1 through 8 {
        li.ql-indent-#{$i} {
          &:before {
            content: counter(list-#{$i}, decimal) '.' // eg. 1. instead of a.
          }
        }
      }
    }
  }
}
