@import '~codemirror/lib/codemirror.css';
@import '~tui-editor/dist/tui-editor.min.css';
@import '~tui-editor/dist/tui-editor-contents.min.css';
@import '~highlight.js/styles/github.css';

.ls-editor-tui {

  border: 1px solid #000;
  padding-bottom: 2px;

  .tui-editor {
    background-color: #ffffff;

  }
}
