.ls-editor-block {

  &__container {
    background-color: #fff;
    padding: 10px 20px 30px;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}
