.oy-editor-image {

  &__container {
    background-color: #FFFFFF;
    border: 1px solid #000;
  }

  &__toolbar {
    border-bottom: 1px solid gray;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 20px;

    button {
      cursor: pointer;
      height: 100%;
      color: #000000;
      padding: 0 12px;
      background-color: transparent;
      font-size: 14px;
      font-weight: 500;

      &.current {
        color: #fff;
        background: $button-bg-color;
      }

      &:hover {
        color: #fff;
      }

      &:disabled {
        background: #c7c7c7;
        color: #000000;
      }
    }
  }

  &__caption-container {
    padding: 12px 15px;
  }

  &__editor {
    padding: 12px 15px;
  }

  &__image-container {
    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }

  &__image {
    &--small {
      width: 240px;
    }
    &--medium {
      width: 480px;
    }
    &--full-width {
      width: 100%;
    }
  }

}
